@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/******************************************************************
Site Name: Ilm Seek
Theme URI: http://www.IlmSeek.com
Description: A small site built for the Ilm Seek project at the Islamic Center of Tucson.
Author: Ahmad Taleb
Author URI: http://www.ahmadtaleb.com
******************************************************************/
/***Colors***/
/***Fonts***/
@font-face {
  font-family: haymaker;
  src: url(fonts/"Haymaker.ttf"); }

body {
  font-family: 'open-sans', sans-serif;
  font-weight: 300; }
  body h2 {
    font-weight: 300;
    text-align: center;
    font-size: 5em;
    margin: 0 0 25px 0; }

.navbar {
  position: relative;
  border-bottom: 4px solid #cececc; }
  .navbar nav ul {
    text-align: justify;
    list-style: none;
    padding: 0 9em;
    margin: -15px 0 0 0;
    height: 100px; }
    .navbar nav ul li {
      margin: 0;
      display: inline-block;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.2em; }
      .navbar nav ul li h1 {
        font-weight: 300;
        font-family: 'haymaker', 'open-sans', sans-serif;
        color: #bdbdbd;
        text-shadow: 1px 2px 3px #838183;
        font-size: 2em; }
      .navbar nav ul li a {
        text-decoration: none;
        color: black; }
    .navbar nav ul:after {
      content: '';
      width: 100%;
      border-bottom: 5px dashed #922d8d;
      display: inline-block; }

li:nth-child(5) {
  background: #F05353;
  border-bottom: 3px solid #B24040;
  padding: 5px 10px; }

/**
.navbar {
	background: white;
	border-bottom: 5px solid $shadowgray;
	background: orange;
	margin: 0;
	text-transform: uppercase;
	ul {
		list-style: none;
		background: tomato;
		width: 80%;
		margin: 0 auto;
		li {
			display: inline-block;
			margin: 0 2em;
			a {
				text-decoration: none;
				color: black;
				h1 {
					margin: 0;
					color: $shadowgray;
				}
			}
		}
	}
}
**/
.intro_container {
  background: #efefef;
  padding: 0 0 25px 0; }
  .intro_container .intro {
    background: #efefef; }
    .intro_container .intro .introimg {
      width: 35%;
      margin: 0 auto; }
      .intro_container .intro .introimg img {
        width: 100%; }
    .intro_container .intro .icons {
      margin: 0 0 0 200px; }
      .intro_container .intro .icons .icon_box {
        margin: 0 5em 0 0; }
        .intro_container .intro .icons .icon_box .icon_content {
          text-align: center; }
          .intro_container .intro .icons .icon_box .icon_content img {
            width: 100%; }
          .intro_container .intro .icons .icon_box .icon_content h3 {
            font-weight: 300;
            font-size: 3.5em;
            margin: 0; }
    .intro_container .intro .introtext {
      margin: 25px 0 25px 0; }
      .intro_container .intro .introtext .hello {
        width: 80%;
        margin: 0 auto;
        font-size: 1.3em; }
    .intro_container .intro .apply_button {
      background: #f05353;
      text-align: center;
      color: white;
      border-bottom: 5px solid #B24040;
      width: 500px;
      margin: 0 auto; }
      .intro_container .intro .apply_button a {
        text-decoration: none;
        color: white; }
        .intro_container .intro .apply_button a h3 {
          font-size: 3em;
          text-transform: uppercase;
          font-weight: 300;
          margin: 0; }

.phil_cont .why {
  padding: 25px 0; }
  .phil_cont .why h2 {
    clear: both; }
  .phil_cont .why .why_box {
    text-align: center; }
    .phil_cont .why .why_box .why_content h3 {
      font-weight: 300;
      font-size: 2.5em;
      margin: 0; }
    .phil_cont .why .why_box .why_content p {
      text-align: center; }

.who {
  color: white;
  background: #3b97d3;
  margin: 0; }
  .who P {
    width: 80%;
    margin: 0 auto 25PX auto; }

.how {
  background: #F05353;
  color: white;
  margin: 0; }
  .how .how_box img {
    float: left; }
  .how .how_box .how_info {
    float: right;
    margin: 0; }
    .how .how_box .how_info h3 {
      font-weight: 300;
      font-size: 3.5em; }
  .how .how_box .albook {
    float: right; }
    .how .how_box .albook .alinfo {
      float: left; }

.elbook {
  visibility: hidden; }
