/******************************************************************
Site Name: Ilm Seek
Theme URI: http://www.IlmSeek.com
Description: A small site built for the Ilm Seek project at the Islamic Center of Tucson.
Author: Ahmad Taleb
Author URI: http://www.ahmadtaleb.com
******************************************************************/

/***Colors***/
$red:			#F05353;
$darkred:		#B24040;
$shadowgray:	#CECECC;
$blockgray: 	#EFEFEF;
$blockblue:		#3B97D3;
/***Fonts***/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@font-face {
	font-family: haymaker;
	src: url(fonts/'Haymaker.ttf');
}

body {
	font-family: 'open-sans', sans-serif;
	font-weight: 300;
	h2 {
		font-weight: 300;
		text-align: center;
		font-size: 5em;
		margin: 0 0 25px 0;
	}
}

.navbar {
	position: relative;
	border-bottom: 4px solid $shadowgray;
	nav {
		ul {
			text-align: justify;
			list-style: none;
			padding: 0 9em;
			margin: -15px 0 0 0;
			height: 100px;
			li {
				margin: 0;
				display: inline-block;  
				font-weight: 300;
				text-transform: uppercase;
				font-size: 1.2em;
				h1 {
					font-weight: 300;
					font-family: 'haymaker', 'open-sans', sans-serif;
					color: #bdbdbd;
					text-shadow: 1px 2px 3px #838183;
					font-size: 2em;
				}
				a {
					text-decoration: none;
					color: black;
					
				}
			}
			&:after {
				content: '';
				width: 100%;
				border-bottom: 5px dashed #922d8d;
				display: inline-block;
			}  
		}
		
	}
}

li:nth-child(5) {
	background: #F05353;
	border-bottom: 3px solid #B24040;
	padding: 5px 10px;
}

/**
.navbar {
	background: white;
	border-bottom: 5px solid $shadowgray;
	background: orange;
	margin: 0;
	text-transform: uppercase;
	ul {
		list-style: none;
		background: tomato;
		width: 80%;
		margin: 0 auto;
		li {
			display: inline-block;
			margin: 0 2em;
			a {
				text-decoration: none;
				color: black;
				h1 {
					margin: 0;
					color: $shadowgray;
				}
			}
		}
	}
}
**/

.intro_container {
	background: $blockgray;
	.intro {
		background: $blockgray;
		.introimg {
			width: 35%;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.icons {
			margin: 0 0 0 270px;
			.icon_box {
				.icon_content {
					text-align: center;				
					img {
						width: 100%;
						}
					h3 {
						font-weight: 300;
						font-size: 2em;
					}
				}
			}
		}
		.apply_button {
			background: $red;
			text-align: center;
			color: white;
			border-bottom: 3px solid #B24040;
			h3 {
			font-size: 3em;
			text-transform: uppercase;
			font-weight: 300;
			padding: 0;
			}
		}
	}
}

.introtext {
	background: #4EB96E;
	padding: 25px;
	.hello {
		width: 80%;
		margin: 0 auto;
		color: white;
		font-size: 1.5em;
	}
	
}


.why {
	background: #2c3e50;
	h2 {
		clear: both;
		color: white;
	}
	.why_box {
		background: $blockgray;
		border: 2px solid $shadowgray;
		text-align: center;
		width: 309.34px;
		height: 400px;
		.why_content {
			margin: 3em 0 0 0;
			h3 {
				font-weight: 300;
				font-size: 2.5em;
			}
		}
	}
	
}

.who {
	color: white;
	background: $blockblue;
	margin: 0;
	P {
		width: 80%;
		margin: 0 auto 25PX auto;
	}
}

.how {
	background: #F05353;
	color: white;
	margin: 0;
	.how_box {
		img {
			float: left;
		}
		.how_info{
			float: right;
			margin: 0;
			h3 {
				font-weight: 300;
				font-size: 3.5em;
			}
		}
		.albook {
			float: right;
			.alinfo {
				float: left;
			}	
		}
	}
}

.elbook {
	visibility: hidden;
}