/******************************************************************
Site Name: Ilm Seek
Theme URI: http://www.IlmSeek.com
Description: A small site built for the Ilm Seek project at the Islamic Center of Tucson.
Author: Ahmad Taleb
Author URI: http://www.ahmadtaleb.com
******************************************************************/

/***Colors***/
$red:			#F05353;
$darkred:		#B24040;
$shadowgray:	#CECECC;
$blockgray: 	#EFEFEF;
$blockblue:		#3B97D3;
/***Fonts***/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@font-face {
	font-family: haymaker;
	src: url(fonts/'Haymaker.ttf');
}

body {
	font-family: 'open-sans', sans-serif;
	font-weight: 300;
	h2 {
		font-weight: 300;
		text-align: center;
		font-size: 5em;
		margin: 0 0 25px 0;
	}
	h3 {
		margin: 0;
	}
	p{
		font-size: 25px;
		margin: 0;
	}
}

.navbar {
	position: relative;
	border-bottom: 4px solid $shadowgray;
	nav {
		ul {
			text-align: justify;
			list-style: none;
			padding: 0 9em;
			margin: -15px 0 0 0;
			height: 100px;
			li {
				margin: 0;
				display: inline-block;  
				font-weight: 300;
				text-transform: uppercase;
				font-size: 1.2em;
				h1 {
					font-weight: 300;
					font-family: 'haymaker', 'open-sans', sans-serif;
					color: #bdbdbd;
					text-shadow: 1px 2px 3px #838183;
					font-size: 2em;
				}
				a {
					text-decoration: none;
					color: black;
					
				}
			}
			&:after {
				content: '';
				width: 100%;
				border-bottom: 5px dashed #922d8d;
				display: inline-block;
			}  
		}
		
	}
}

li:nth-child(5) {
	background: #F05353;
	border-bottom: 3px solid #B24040;
	padding: 5px 10px;
}

.intro_container {
	background: $blockgray;
	padding: 0 0 25px 0;
	.intro {
		background: $blockgray;
		.introimg {
			width: 35%;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
		.icons {
			margin: 0 0 0 200px;
			.icon_box {
				margin: 0 5em 0 0;
				.icon_content {
					text-align: center;				
					img {
						width: 100%;
						}
					h3 {
						font-weight: 300;
						font-size: 3.5em;
					}
				}
			}
		}
		.introtext {
			margin: 25px 0 25px 0;
			.hello {
				width: 80%;
				margin: 0 auto;
				font-size: 25px;;
			}
			
		}
		.apply_button {
			background: $red;
			text-align: center;
			color: white;
			border-bottom: 5px solid #B24040;
			width: 500px;
			margin: 0 auto;
			border-radius: 10px;
			a {
				text-decoration: none;
				color: white;
				h3 {
					font-size: 3em;
					font-weight: 300;				
				}
			}
		}
	}
}

.phil_cont {
	background: #f39c12;
	color: white;
	.why {
		padding: 25px 0;
		h2 {
			clear: both;
		}
		.why_box {
			text-align: center;
			.why_content {
				h3 {
					font-weight: 300;
					font-size: 2.5em;
				}
				p{
					text-align: center;
				}
			}
		}
		
	}
}
.how_container {
	background: #F05353;
	.how {
		color: white;
		.how_box {
			img {
				float: left;
			}
			.how_info{
				float: right;
				h3 {
					font-weight: 300;
					font-size: 3.5em;
				}
			}
			.albook {
				float: right;
				.alinfo {
					float: left;
				}	
			}
		}
	}
}

.who_container {
	background: $blockblue;
	padding: 0 0 25px 0;
	.who {
		color: white;
	}
}


.elbook {
	visibility: hidden;
}